<div ng-if="LoginService.errorLogin = 'false'">
<div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="changePassword">Change Password</a></li>
                <li><a ui-sref="bookedSlot">View Booked Slots</a></li>
                <li ng-if="registerCtrl.adminRight == '1'" ><a ui-sref="register">Add User</a></li>
                <li ng-if="registerCtrl.adminRight == '1'" ><a ui-sref="deleteUser">Delete User</a></li>
            </div>
            <div class="nav navbar-nav navbar-right">
                <li>Welcome<br>{{registerCtrl.asid}}</li>
                <li><a ng-click="registerCtrl.logOut()">Log Out</a></li>
            </div>
        </div>
</div>
<div class="register col-sm-5 col-md-offset-4">
       <h2>Register</h2>
        <form name="form.register" role="form" novalidate> 
            
            <div class="form-group" ng-class="{'has-error': form.register.name.$invalid && form.register.name.$touched}">
                <label for="name">Name</label>
                <br>
                <input type ="text" name="name" class="form-control" ng-model="registerCtrl.name" ng-model-options= "{updateOn : 'blur'}" required/> 
                <span class="help-block" ng-show="form.register.name.$touched && form.register.name.$error.required">Please enter Associate Name</span>
            </div >
            <div class="form-group" ng-class="{'has-error': form.register.asid1.$invalid && form.register.asid1.$touched}">
                <label for="asid1">Associate ID</label>
                <br>
                <input type="number" class="form-control" name="asid1" ng-model="registerCtrl.asid1" ng-minlength="registerCtrl.min" ng-maxlength="registerCtrl.max" ng-model-options= "{updateOn : 'blur'}" required/> 
                {{minlength}}
                <span class="help-block" ng-show="form.register.asid1.$error.minlength || form.register.asid1.$error.maxlength">Please Enter A Valid Associate Number</span>
                <span class="help-block" ng-show="form.register.asid1.$touched && form.register.asid1.$error.required">Please Enter Associate ID</span>
            </div >
             <div class="form-group" ng-class="{'has-error': form.register.email.$invalid && form.register.email.$touched}">
                <label for="email">Email Id</label>
                <br>
                <input type ="text" name="email" class="form-control" ng-model="registerCtrl.email" ng-pattern="registerCtrl.word" ng-model-options= "{updateOn : 'blur'}" required/> 
                <span class="help-block" ng-show="form.register.$error.pattern">Please Enter A valid Associate's Email Id</span>
                <span class="help-block" ng-show="form.register.email.$touched && form.register.email.$error.required">Please enter Associate's Email Id</span>
            </div>
            <div class="form-group" ng-class="{'has-error': form.register.dob.$invalid && form.register.dob.$touched}">
                <label for="dob">Associate's Date Of Birth</label>
                <br>
                <input type="date" name="dob" ng-model="registerCtrl.dob" ng-required="true"/>
                <span class="help-block" ng-show="form.register.dob.$error.required && form.register.dob.$touched">Please enter Associate's Date Of Birth</span>
            </div>
            <div>
            <label>Admin Right</label><br>
            <select ng-model = "registerCtrl.adminRightValue">
                <option value='{{registerCtrl.admin.yes}}'>Yes </option>
                <option value='{{registerCtrl.admin.no}}'>No </option>
            </select>	
        	</div>
            <br>
            <button ng-disabled="form.register.$invalid" ng-click="registerCtrl.register(form.register)" class="btn btn-primary">Register</button>
        </form>
</div>
</div>
 <div ng-if="registerCtrl.regSuccess == 'true'">
        <div class='Rsuccess alert-success'>
            <span>User Registered Successfully</span>
        </div>
</div> 
<div ng-if="registerCtrl.regSuccess == 'false'">
        <div class='Rsuccess alert-danger'>
            <span>User Already Registered</span>
        </div>
</div> 