<div ng-if="LoginService.errorLogin = 'false'">
<div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="changePassword">Change Password</a></li>
                <li><a ui-sref="bookedSlot">View Booked Slots</a></li>
                <li ng-if="changePswdCtrl.adminRight == '1'" ><a ui-sref="register">Add User</a></li>
                <li ng-if="changePswdCtrl.adminRight == '1'" ><a ui-sref="deleteUser">Delete User</a></li>
            </div>
            <div class="nav navbar-nav navbar-right">
           		<li>Welcome<br>{{changePswdCtrl.asid}}</li>
                <li><a ng-click="changePswdCtrl.logOut()">Log Out</a></li>
            </div>
        </div>
</div>
<div class="changePassword col-sm-5 col-md-offset-4">
           <h2>Change Password</h2>
        <form name="changePassword" role="form" novalidate> 
            
            <div id="label">Associate ID : {{changePswdCtrl.asid}}</div>
            <br>

            <div class="form-group" ng-class="{'has-error': changePassword.oldPassword.$touched && changePassword.oldPassword.$invalid}">
                <label for="oldPassword">Old Password</label>
                <br>
                <input type ="password" name="oldPassword" class="form-control" ng-model="changePswdCtrl.password" ng-model-options= "{updateOn : 'blur'}" ng-required="true"/>
                <span class="help-block" ng-show="changePassword.oldPassword.$touched && changePassword.oldPassword.$error.required">Old Password is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error': changePassword.newPassword.$touched && changePassword.newPassword.$invalid}">
                <label for="newPassword">New Password</label>
                <br>
                <input type ="password" name="newPassword" class="form-control" ng-model="changePswdCtrl.newpassword" ng-required="true" ng-model-options= "{updateOn : 'blur'}"/>
                <span class="help-block" ng-show="changePassword.newPassword.$touched && changePassword.newPassword.$error.required">New Password is required</span>
            </div>
            <br>
            <button ng-disabled="changePassword.$invalid" ng-click=changePswdCtrl.submitChangePassword(changePassword) class="btn btn-primary">Change Password</button>
        </form>
</div>
</div>
 <div ng-if="changePswdCtrl.pswdSuccess == 'true'">
        <div class='successPswdChange alert-success'>
            <span>Password Changed Successfully</span>
        </div>
</div>
 <div ng-if="changePswdCtrl.pswdSuccess == 'false'">
        <div class='alertWrongPswd alert-danger'>
            <span>Entered password is wrong</span>
        </div>
</div>
