
.navbar{
/*    background-color: skyblue; */
    position: fixed;
    opacity: 0.7;
}
.nav a{
    color: red;
    font-weight: 600;
} 

.nav .out{
    float: right;
}
.log a
{
    float: right;
    padding-top: 15px;
    text-decoration: none;
    color: red;
    font-weight: 600;
}
.log a:hover{
    background-color: white;
}
body
{
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
}
.changePassword {
    background-color: #f2f2f2;
    border:1px solid #ccc;
    padding : 20px;
    top : 20px;
    margin-top: 90px;
}
.changePassword label {
    color: darkgreen;
    font-size: 15px;
    font-weight: bold;
}
#label{
    color: darkgreen;
    font-size: 15px;
    font-weight: bold;
}
.changePassword h2 {
    color: chocolate;
    font-weight: bold;
}
.successPswdChange
{
    margin-top: 50px;
    line-height: 4;
    float:right;
}
.alertWrongPswd
{
    margin-top: 50px;
    line-height: 4;
    float:right;
}